<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.send.a888hamz.fishing">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".level1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".face"
            android:screenOrientation="portrait" />
        <activity
            android:name=".go"
            android:screenOrientation="portrait" />
        <activity
            android:name=".add_try"
            android:screenOrientation="portrait" />
        <activity
            android:name=".level_plus"
            android:screenOrientation="portrait" />
        <activity
            android:name=".show1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".show2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".steps"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pass"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fail"
            android:screenOrientation="portrait" />
        <activity android:name=".show_3"
            android:screenOrientation="portrait"></activity>

    </application>

</manifest>